@import '../../styles/z-indexs.scss';
.is-loading{
  opacity: 0;
  transition: all .4s ease 0s;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $isLoading;
  background-color: rgba(43, 43, 43, 0.351);
  &.visible {
    opacity: 1;
  }
  &__body{
    width: 30%;
    height: 30%;
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
  }
}