@import '../../styles/z-indexs.scss';
@import '../../styles/constants.scss';
.full-screan {
  width: calc(#{$indexScale}* 2.5);
  height: calc(#{$indexScale}* 2.5);
  & svg {
    width: calc(#{$indexScale}* 2.5);
    height: calc(#{$indexScale}* 2.5);
    fill: #fff;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{  
        fill: $accentColor;
      }
    }
  }
}