@import url("https://fonts.googleapis.com/css?family=Crimson+Pro:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import './../../../../styles/constants.scss';
.input-item{
  font-size: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  &__label{
    display: block;
    line-height: 1;
    font-size: calc(#{$indexScale}* 1.3);
    margin-bottom: 7px;
    cursor: pointer;
    @media (max-width: 600px){
      font-size: calc(#{$indexScale}* 2.2);
      order: 0;
      margin-bottom: 0;
    }
  }
  
  &__input{
    width: 100%;
    padding: 5px 5px;
    outline: none;
    border-radius: 5px;
    font-size: calc(#{$indexScale}* 1.2);
    border: 5px solid $accentColor;
    background-color: rgb(255, 255, 255);
    color: #000;
    transition: all 0.3s ease 0s;
    @media (max-width: 600px){
      font-size: calc(#{$indexScale}* 2.2); 
      order: 2;
    }
    &.custom-text-area{
      font-family:"Crimson Pro",serif;
    }

  }

  &__error-text{
    font-size: calc(#{$indexScale}* 1.2);
    width: fit-content;
    height: 20px;
    color: rgb(255, 198, 83);
    position: absolute;
    top: -5px;
    right: 0px;
    opacity: 0;
    transition: all 0.3s ease 0s;
    @media (max-width: 600px){
      font-size: calc(#{$indexScale}* 2);
      position: static;
      order: 1;
      height:auto
    }
  }

  
  &__error-text.error{
    transition: all 0.3s ease 0s;
    opacity: 1;
  }

  .error-value {
    border: 5px solid #e34e46;
  }

  .passed-value {
    border: 5px solid #50c878;
  }

  &__button {
    margin-top: calc(#{$indexScale}* 2.5);
    display: block;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    background-color:$accentColor;
    animation-duration: 1.1s;
    transition: all 0.3s ease 0s;
    @media (max-width: 600px){
      font-size: calc(#{$indexScale}* 2.5);
    }
    @media (any-hover: hover){
      &:hover{
        animation-name: buttonAnim;
      }
    }
    @keyframes buttonAnim {
      0%{
        box-shadow: 0px 0px 0px 0px $accentColor;
      }
      100%{
        box-shadow: 0px 0px 0px 15px transparent;
      }
    }
  }
  &:not(:last-child){
      margin-bottom: 10px;
  }
}

.form-wrapper{
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 600px){
    padding: 20px 0px;
  }
}

.default-form {
  max-width: 800px;
  width: 100%;
  padding: 15px 20px;
  border-radius: 15px;
  border: 5px solid $accentColor;
}



