@import './../../styles/constants.scss';

.block-picture-img{
  &__picture{
    width: 50%;
    height: 100%;
    background-size:contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #000;
    margin-right: auto;
  }
}