@import '../../styles/constants.scss';
@import '../../styles/z-indexs.scss';

.controlls {
  position: fixed;
  top: calc(#{$indexScale}* 0.1);
  right: calc(#{$indexScale}* 1);
  z-index: $fullScreanButton;
  display: flex;
  gap: 10px;
  align-items: center;
}
