@import '../styles/constants.scss';
@import '../styles/z-indexs.scss';

.menu {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  z-index: $navMenu;
  transition: all 0.3s ease 0s;
  &.open {
    z-index: $fullScreanButton;
    .menu__btn {
      transform: rotate(180deg);
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    list-style: none;

    background-color: #000;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height:  calc(#{$indexScale}* 3.5);
      background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(41, 53, 86, 0) 100%);
    }
  }

  &__item{
    font-size: calc(#{$indexScale}* 1.7);
    &:not(:last-child) {
      margin-right: calc(#{$indexScale}* 1.3);
    }
    @media (max-width: 600px){
      font-size: calc(#{$indexScale}* 2);
    }
  }

  &__link{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: $accentColor;
      }
    }
  }
  &__link.this-parth{
    color:$accentColor
  }

  &__btn {
    display: block;
    position: relative;
    width: calc(#{$indexScale}* 3);
    height:calc(#{$indexScale}* 3);
    margin-top: calc(#{$indexScale}* .5); 
    transition: all 0.3s ease 0s;
    &::after{
      content:'';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0);
      z-index: -1;
      border-radius: 50%;
      box-shadow: 0px 0px 10px 10px #000;
    }
    & svg {
      fill: #fff;
      position: relative;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover){
        &:hover{
          fill: $accentColor;
        }
      }
  }
}
}

.parth-200 .parth-summary{
  color: $accentColor;
  pointer-events: none;
}
.parth-600 .parth-education{
  color: $accentColor;
  pointer-events: none;
}
.parth-800 .parth-sertificates{
  color: $accentColor;
  pointer-events: none;
}
.parth-1000 .parth-projects{
  color: $accentColor;
  pointer-events: none;
}
.parth-1200 .parth-contacts {
color: $accentColor;
pointer-events: none;
}