@import '../../styles/constants.scss';
@import '../../styles/z-indexs.scss';

.lang {
  position: fixed;
  z-index: $fullScreanButton;
  top: calc(#{$indexScale}* 0.05);
  right: calc(#{$indexScale}* 4);
  color: #fff;
  font-weight: 600;
  font-size: calc(#{$indexScale}* 1.7);
  &.en {
    .lang__en{
      color: $accentColor;
    }
  }
  &.ru {
    .lang__ru{
      color: $accentColor;
    }
  }
}