@import './.././../../styles/constants.scss';

.summary {
  height: 100%;
  max-width: 50%;
  margin-left: auto;
  display: flex;
  align-items: center;
  background-color: #000;
  &__container{
    display: flex;
  }
  &__img {
    height: calc(#{$indexScale}* 1000);
  }

  &__info {
    padding-left: $gap;
    font-size: calc(#{$indexScale}* 1.5);
  }
}